.ensaios {
    background-color: var(--preto);
    margin-top: 50vh;
    padding-bottom: 1vh;
}

.ensaios__chamada {
    color: var(--branco);
    font-size: 1.25rem;
    padding: 1rem 0 3rem 0;
    text-align: center;
}

.ensaios__chamada strong {
    font-weight: bold;
    font-size: 1.75rem;
}

@keyframes animacao-fotos {
    0% {
        background-image: url("../img/casal1.jpeg")
    }
    5% {
        background-image: url("../img/feminino8.jpeg")
    }
    10% {
        background-image: url("../img/feminino7.jpeg")
    }
    15% {
        background-image: url("../img/feminino9.jpeg")
    }
    20% {
        background-image: url("../img/casal2.jpeg")
    }
    25% {
        background-image: url("../img/feminino10.jpeg")
    }
    30% {
        background-image: url("../img/bg2.jpeg")
    }
    35% {
        background-image: url("../img/feminino2.jpeg")
    }
    40% {
        background-image: url("../img/casal3.jpeg")
    }
    45% {
        background-image: url("../img/feminino1.jpeg")
    }
    50% {
        background-image: url("../img/gestante1.jpeg")
    }
    55% {
        background-image: url("../img/casal4.jpeg")
    }
    60% {
        background-image: url("../img/casal2.jpeg")
    }
    65% {
        background-image: url("../img/feminino11.jpeg")
    }
    80% {
        background-image: url("../img/casal1.jpeg")
    }
}

.ensaios__fotos {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    background-image: url("../img/casal1.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: animacao-fotos;
    animation-duration: 120s;
    animation-iteration-count: infinite;
}

@media screen and (max-width: 1024px) {
    .ensaios {
        margin-top: 46vh;
    }
    .ensaios__fotos {
        width: 100vw;
        height: 60vh;
        background-size: cover;
    }
}