.planos {
    background-color: var(--bg-escuro);
}

.planos__chamada {
    padding: 2rem 0 0 0;
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
}

.planos__itens {
    text-align: center;
    padding: 0 0 2rem 0 ;
}

.planos__item {
    display: inline-block;
    margin: 4rem;
    border: 1px solid rgb(202, 202, 202);
    padding-bottom:1rem;
}

.planos__nav {
    width: 80vw;
    margin: 0 auto;
    opacity: 0.9;
    background-color: var(--branco);
}

.planos--plano1, .planos--plano2, .planos--plano3 {
    width: 150px;
    height: 150px;
}

.planos--plano1 {
    background-image: url("../img/crianca1.jpeg");
    background-position: center;
    background-size: cover;
}

.planos--plano2 {
    background-image: url("../img/casal1.jpeg");
    background-position: center;
    background-size: cover;
}

.planos--plano3 {
    background-image: url("../img/feminino8.jpeg");
    background-position: center;
    background-size: cover;
}

.plano--tipo {
    margin: 0.5rem 0;
    color: purple;
    font-weight: bold;
    font-size: 1.25rem;
}

.planos__caracteristicas {
    color: #000;
    text-align: justify;
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .planos__nav {
        width: 100%;
    }
    .planos--plano1, .planos--plano2, .planos--plano3 {
        width: 70vw;
        height: 30vh;
    }
    .planos__item {
        display: block;
        width: 70vw;
        margin: 2rem auto;
    }
}